
.container{
    padding-left: 40px;
}
svg {
    height: 20px;
    width: 20px;
    cursor:pointer;
    padding-top: 10px;
    color:black
}

.backButton{
    height: 30px;
    width: 50px;
    cursor:pointer;   
    color: black;
    background-color: inherit;
    padding-left: 0px;
}
img{
    height: 100px;
    width: 100px;
}

.jobType{
    background-color: rgb(140, 140, 199); 
    border-radius: 25px;
    padding: 3px 10px 3px 10px; 
    margin-right: 10px;
}
